<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>JuPiBnB is a registered trademark ©Julie & Pia</p>
      </div>
      <div class="social col-lg-8">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
