// Customize Bootstrap with variables: http://getbootstrap.com/customize/#less-variables
$link-color: #2ecc71;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";

@import "font-awesome-sprockets";
@import "font-awesome";

img {
  max-width: 100%;
}

.main-title {
  color: blue;
  font-size: 50px;
  padding-top: 30px
}

.row  {
  padding-top: 30px
}
